@model List<SqliteTestApp.Models.Log>


<table class="table table-striped">
    <tr>
        <th>
            Counter
        </th>
        <th>
            RandomString
        </th>
    </tr>

    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Counter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RandomString)
                </td>
            </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="2">
                No Logs!
            </td>
        </tr>
    }
</table>